[class^="jk-icon-"],
[class*=" jk-icon-"] {
    font-family: "joker-icons" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.jk-icon-menu:before {
    content: "\e7f4";
}

.jk-icon-scale-to-original:before {
    content: "\ed85";
}

.jk-icon-filter:before {
    content: "\e69d";
}

.jk-icon-remove:before {
    content: "\e69c";
}

.jk-icon-lock:before {
    content: "\e694";
}

.jk-icon-unlock:before {
    content: "\e693";
}

.jk-icon-key:before {
    content: "\ed83";
}

.jk-icon-mobile-phone:before {
    content: "\e7e4";
}

.jk-icon-location:before {
    content: "\e6b4";
}

.jk-icon-watch:before {
    content: "\e690";
}

.jk-icon-service:before {
    content: "\e691";
}

.jk-icon-location-outline:before {
    content: "\ed81";
}

.jk-icon-place:before {
    content: "\ed82";
}

.jk-icon-medal:before {
    content: "\e793";
}

.jk-icon-alarm-clock:before {
    content: "\e636";
}

.jk-icon-add-location:before {
    content: "\e666";
}

.jk-icon-timer:before {
    content: "\eaad";
}

.jk-icon-map-location:before {
    content: "\ed7e";
}

.jk-icon-delete-location:before {
    content: "\ed7f";
}

.jk-icon-full-screen:before {
    content: "\e63f";
}

.jk-icon-trophy:before {
    content: "\e7c4";
}

.jk-icon-switch-button:before {
    content: "\e68e";
}

.jk-icon-time:before {
    content: "\e68f";
}

.jk-icon-copy-document:before {
    content: "\ed7d";
}

.jk-icon-position:before {
    content: "\e671";
}

.jk-icon-chat-round:before {
    content: "\ed79";
}

.jk-icon-crop:before {
    content: "\ed7a";
}

.jk-icon-close-notification:before {
    content: "\ed7b";
}

.jk-icon-message:before {
    content: "\e62b";
}

.jk-icon-chat-line-square:before {
    content: "\ed74";
}

.jk-icon-chat-line-round:before {
    content: "\ed75";
}

.jk-icon-chat-square:before {
    content: "\ed76";
}

.jk-icon-chat-dot-square:before {
    content: "\ed77";
}

.jk-icon-chat-dot-round:before {
    content: "\ed78";
}

.jk-icon-female:before {
    content: "\e71a";
}

.jk-icon-male:before {
    content: "\e71c";
}

.jk-icon-link:before {
    content: "\e7e2";
}

.jk-icon-cpu:before {
    content: "\e64a";
}

.jk-icon-thumb:before {
    content: "\e68d";
}

.jk-icon-postcard:before {
    content: "\ed73";
}

.jk-icon-present:before {
    content: "\e6d3";
}

.jk-icon-files:before {
    content: "\e669";
}

.jk-icon-guide:before {
    content: "\e66b";
}

.jk-icon-receiving:before {
    content: "\e68c";
}

.jk-icon-connection:before {
    content: "\e893";
}

.jk-icon-house:before {
    content: "\ed72";
}

.jk-icon-collection:before {
    content: "\ed6e";
}

.jk-icon-data-board:before {
    content: "\ed6f";
}

.jk-icon-data-line:before {
    content: "\ed70";
}

.jk-icon-magic-stick:before {
    content: "\ed71";
}

.jk-icon-brush:before {
    content: "\e637";
}

.jk-icon-mouse:before {
    content: "\e68a";
}

.jk-icon-scissors:before {
    content: "\e68b";
}

.jk-icon-collection-tag:before {
    content: "\ed6b";
}

.jk-icon-data-analysis:before {
    content: "\ed6c";
}

.jk-icon-pie-chart:before {
    content: "\ed6d";
}

.jk-icon-search:before {
    content: "\e61f";
}

.jk-icon-printer:before {
    content: "\e65f";
}

.jk-icon-monitor:before {
    content: "\ea92";
}

.jk-icon-date:before {
    content: "\e64e";
}

.jk-icon-document-copy:before {
    content: "\e650";
}

.jk-icon-mobile:before {
    content: "\e687";
}

.jk-icon-tickets:before {
    content: "\e688";
}

.jk-icon-document-add:before {
    content: "\e689";
}

.jk-icon-document:before {
    content: "\ed6a";
}

.jk-icon-paperclip:before {
    content: "\e6a5";
}

.jk-icon-edit:before {
    content: "\e6f1";
}

.jk-icon-edit-outline:before {
    content: "\ed69";
}

.jk-icon-folder-opened:before {
    content: "\e607";
}

.jk-icon-folder:before {
    content: "\e635";
}

.jk-icon-folder-add:before {
    content: "\e7bb";
}

.jk-icon-refresh:before {
    content: "\e615";
}

.jk-icon-finished:before {
    content: "\e654";
}

.jk-icon-refresh-left:before {
    content: "\e67d";
}

.jk-icon-refresh-right:before {
    content: "\e67e";
}

.jk-icon-sort:before {
    content: "\e686";
}

.jk-icon-sort-up:before {
    content: "\e67f";
}

.jk-icon-share:before {
    content: "\e631";
}

.jk-icon-rank:before {
    content: "\e685";
}

.jk-icon-loading:before {
    content: "\e67b";
}

.jk-icon-sort-down:before {
    content: "\e67c";
}

.jk-icon-d-caret:before {
    content: "\ed68";
}

.jk-icon-view:before {
    content: "\e847";
}

.jk-icon-caret-left:before {
    content: "\ed67";
}

.jk-icon-caret-top:before {
    content: "\ed64";
}

.jk-icon-caret-bottom:before {
    content: "\ed65";
}

.jk-icon-caret-right:before {
    content: "\ed66";
}

.jk-icon-right:before {
    content: "\ed5e";
}

.jk-icon-bottom:before {
    content: "\ed5f";
}

.jk-icon-bottom-right:before {
    content: "\ed60";
}

.jk-icon-bottom-left:before {
    content: "\ed61";
}

.jk-icon-back:before {
    content: "\ed62";
}

.jk-icon-top-left:before {
    content: "\ed63";
}

.jk-icon-top:before {
    content: "\e682";
}

.jk-icon-top-right:before {
    content: "\ed5d";
}

.jk-icon-arrow-right:before {
    content: "\e618";
}

.jk-icon-arrow-up:before {
    content: "\e619";
}

.jk-icon-arrow-left:before {
    content: "\e657";
}

.jk-icon-s-check:before {
    content: "\e673";
}

.jk-icon-d-arrow-right:before {
    content: "\ed58";
}

.jk-icon-d-arrow-left:before {
    content: "\ed59";
}

.jk-icon-s-data:before {
    content: "\ed5a";
}

.jk-icon-s-opportunity:before {
    content: "\ed5b";
}

.jk-icon-arrow-down:before {
    content: "\ed5c";
}

.jk-icon-s-flag:before {
    content: "\e674";
}

.jk-icon-s-home:before {
    content: "\e675";
}

.jk-icon-s-custom:before {
    content: "\e678";
}

.jk-icon-s-promotion:before {
    content: "\e679";
}

.jk-icon-s-operation:before {
    content: "\e67a";
}

.jk-icon-s-claim:before {
    content: "\ed51";
}

.jk-icon-s-comment:before {
    content: "\ed57";
}

.jk-icon-download:before {
    content: "\ed50";
}

.jk-icon-bell:before {
    content: "\e603";
}

.jk-icon-s-bell:before {
    content: "\e605";
}

.jk-icon-upload:before {
    content: "\ed55";
}

.jk-icon-upload2:before {
    content: "\ed56";
}

.jk-icon-s-camera:before {
    content: "\e6e8";
}

.jk-icon-camera:before {
    content: "\ea04";
}

.jk-icon-s-video-camera:before {
    content: "\ed52";
}

.jk-icon-video-camera:before {
    content: "\ed54";
}

.jk-icon-minus:before {
    content: "\e632";
}

.jk-icon-check:before {
    content: "\e62a";
}

.jk-icon-close:before {
    content: "\e602";
}

.jk-icon-plus:before {
    content: "\e86c";
}

.jk-icon-picture-outline:before {
    content: "\e670";
}

.jk-icon-picture:before {
    content: "\e677";
}

.jk-icon-info:before {
    content: "\e65a";
}

.jk-icon-question:before {
    content: "\e676";
}

.jk-icon-warning:before {
    content: "\e681";
}

.jk-icon-warning-outline:before {
    content: "\ed53";
}

.jk-icon-error:before {
    content: "\e617";
}

.jk-icon-zoom-out:before {
    content: "\e683";
}

.jk-icon-zoom-in:before {
    content: "\e684";
}

.jk-icon-circle-plus-outline:before {
    content: "\e664";
}

.jk-icon-remove-outline:before {
    content: "\e626";
}

.jk-icon-circle-check:before {
    content: "\ed4e";
}

.jk-icon-circle-close:before {
    content: "\ed4f";
}

.jk-icon-circle-plus:before {
    content: "\e606";
}

.jk-icon-success:before {
    content: "\e8a6";
}

.jk-icon-s-user:before {
    content: "\e601";
}

.jk-icon-star-off:before {
    content: "\e604";
}

.jk-icon-star-on:before {
    content: "\e600";
}

.jk-icon-more:before {
    content: "\e60c";
}

.jk-icon-more-outline:before {
    content: "\e634";
}

.jk-icon-phone:before {
    content: "\e620";
}

.jk-icon-phone-outline:before {
    content: "\e621";
}

.jk-icon-s-delete:before {
    content: "\e84f";
}

.jk-icon-delete:before {
    content: "\e850";
}

.jk-icon-user:before {
    content: "\e680";
}

.jk-icon-setting:before {
    content: "\e6c9";
}

.jk-icon-e-setting:before {
    content: "\e649";
}
.jk-icon-loading {
    animation: rotating 2s linear infinite;
}
@keyframes rotating {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
