$--transition: cubic-bezier(0.645, 0.045, 0.355, 1);
$--all-transition: all 0.3s $--transition;
$--color-transition-base: color 0.2s $--transition;
$--border-transition-base: border-color 0.2s $--transition;
$--border-base: solid 1px var(--jk-border-color-base);
$--transparent-background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);

$--index-normal: 1;
$--index-popper: 2000;

$color-primary: #409eff;
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-danger: #f56c6c;
$color-info: #909399;
$color-white: #fff;
$color-black: #000;

$colors: (
    primary: $color-primary,
    success: $color-success,
    warning: $color-warning,
    danger: $color-danger,
    info: $color-info
);
